#container {
  text-align: center;
  padding: 20px;

  strong {
    font-size: 1.5em;
  }

  p {
    margin-top: 10px;
    font-size: 1em; /* Mantén el tamaño original para esta frase */
  }
}

.resultado-label {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}

/* Añade estas líneas para aumentar el tamaño de fuente */
ion-item {
  ion-label {
    font-size: 1.3em; /* Ajusta el tamaño de fuente de la etiqueta */
  }

  ion-input {
    font-size: 2em; /* Ajusta el tamaño de fuente del input */
  }
}
