<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DivisApp22006761
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DivisApp22006761</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Ingrese la cantidad en quetzales:</ion-label>
    <ion-input [(ngModel)]="cantidadEnQuetzales" type="number"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="convertirDivisa()">Calcular</ion-button>

  <ion-label *ngIf="resultado" class="resultado-label">El equivalente en dólares es: {{ resultado | currency:'USD':'symbol':'1.2-2' }}</ion-label>
</ion-content>
